// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body > header {
  background-image: url('/img/header.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}

body > header > hgroup {
  padding-top: 1em;
  padding-bottom: 7em;
  text-align: right;
  text-shadow: 0em 0em 1.5em $support-color;
}
